
.colourPreference {
	background-color: #D8D8D8;
}

.center-prediction-options {
	margin:0 auto;
	width:90%;
}

.center-div {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

body, html {
	height: 100%;
}	